* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding-block: 2rem;
}

.container {
  padding-inline: 2rem;
  margin: 0 auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  padding: 0.5em 5em;
  border-radius: 1.5em;
  border: 0;
  color: hsl(257, 40%, 49%);
}

.intro {
  text-align: center;
}

.logo {
  width: 200px;
  padding: 1em 0;
}

.fab {
  color: white;
  padding: 0.4em 0.5em;
  border: 1px solid #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.footer {
  margin-top: 2em;
  padding: 2em 0;
}

.social-list {
  display: flex;
  justify-content: center;
}

.socail-list__item {
  margin-left: 0.5rem;
}

@media (min-width: 756px) {
  body {
    background-image: url(../images/bg-desktop.svg);
  }
  .container {
    max-width: 1110px;
  }

  main {
    display: flex;
    align-items: center;
  }

  .intro {
    text-align: left;
    margin-left: 2em;
    flex: 1;
  }

  .social-list {
    justify-content: flex-end;
  }
}
